/* TABLE OF CONTAINER STYLES */
/* 1. FONTS ->  Rubik 400, 500, 700 Roboto 400, 400-italic, 500, 500-italic */
/* 2. GENIRAL */
/* 3. CONTAINER */
/* 4. SITE-HEADER */
/* 5.WATHER IMG */
/* 6.LOGO STYLES */
/* 7.EXCHANGE_RATES */
/* 8.SEARCH-BOTTON */
/* 9.LANGUAGE-TOGGLER */
/* 10.TELEGRAM-SUB */
/* 11. SITENAV */
/* 12. TOP-BANNER */
/* 13.MAIN-CONTENT */
/* 14. SITE FOOTER */
/* MEDIA QUREIES */
/*  KEYFRAES */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/rubik-v20-latin-regular.woff2") format("woff2"),
    url("../webfonts/rubik-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/rubik-v20-latin-500.woff2") format("woff2"),
    url("../webfonts/rubik-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/rubik-v20-latin-700.woff2") format("woff2"),
    url("../webfonts/rubik-v20-latin-700.woff") format("woff");
}
/* FONTS-ROBOTO  */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../webfonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v30-latin-italic.woff2") format("woff2"),
    url("../webfonts/roboto-v30-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v30-latin-500.woff") format("woff2"),
    url("../webfonts/roboto-v30-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v30-latin-500italic.woff2") format("woff2"),
    url("../webfonts/roboto-v30-latin-500italic.woff") format("woff");
}
/* GENIRAL */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  /* font-family: "Rubik", "Arial", sans-serif; */
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #434343;
}
a {
  text-decoration: none;
}
a:focus {
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
img {
  max-width: 100%;
  height: auto;
}
button:focus {
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}

.logo-wather {
  background-color: #f6f6f6;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* CONTAINER */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/* SITE-HEADER */
.site-header {
  padding: 40px 0 25px 0;
  border-top: 5px solid #295096;
  background-color: #f6f6f6;
}
.site-header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
  font-size: 1.9rem;
}
.site-header__exchange-rates {
  margin-left: 17px;
}
.exchange-rates__item {
  display: flex;
  align-items: center;
}
/* WATHER IMG */
.logo-wather {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.site-header__actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.site-header__search-button {
  margin-right: 30px;
}
.site-header__language-toggler {
  margin-right: 25px;
}
.site-header__toggler {
  display: none;
}
/* LOGO STYLES */
.logo {
  display: flex;
  padding: 11px 6px;
  background-color: rgba(255, 255, 255, 0.991);
  box-shadow: 0px 3px 7px rgba(202, 202, 202, 0.35);
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.logo:hover {
  transform: scale(1.025);
}
.logo:focus {
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.logo__img {
  width: 250px;
  height: 35px;
}
/* EXCHANGE_RATES */
.exchange-rates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style-type: none;
  color: #7a7a7a;
}
.exchange-rates__item:not(:last-child) {
  margin-right: 25px;
}
.exchange-rates__icon {
  color: #285193;
}
/* SEARCH-BOTTON */
.search-button {
  padding: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}
.search-button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* LANGUAGE-TOGGLER */
.language-toggler {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}
.language-toggler:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.language-toggler__wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.language-toggler__img {
  width: 30px;
  height: 23px;
  margin: -5px 0;
}
.form-select {
  margin-top: 3px;
  border: none;
}
/* TELEGRAM-SUB */
.telegram-sub {
  width: 160px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 19px;
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.3s ease;
}
.telegram-sub:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.telegram-sub--dark {
  background-color: #219fd5;
  color: #fff;
}
.telegram-sub--dark:hover {
  background-color: #0080b7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.telegram-sub--white {
  background-color: #fff;
  color: #285193;
}
.telegram-sub:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
.telegram-sub__text {
  font-weight: 500;
  margin-left: 7px;
}
/* SITENAV STYLES */
.sitenav {
  margin-bottom: 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
}
.sitenav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 17px 12px;
  margin: 0;
  list-style: none;
}
.sitenav__item {
  margin: 5px 12px;
}
.sitenav__link {
  display: block;
  font-size: 2.1rem;
  line-height: 23px;
  font-weight: 500;
  color: #515151;
  transition: color 0.3s ease;
}
.sitenav__link:hover,
.sitenav__item--active .sitenav__link {
  color: #002c78;
}
/* TOP-BANNER */
.top-banner__link {
  display: flex;
}
.top-banner__img {
  height: 100px;
}
/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding: 25px 0;
}
/* COV_INFO STYLRS */
.cov-info {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: 30px 35px;
  border-radius: 7px;
  background-color: #f6f6f6;
  color: #000;
}
.cov-img__1 {
  margin-right: 25px;
  border-radius: 50%;
}
.cov-info__heading {
  width: 235px;
  margin: 0 70px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.cov-info__stats-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cov-info__stat {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 24px;
  border-left: 2px solid #f4ccd1;
}
.cov-info__stat--red {
  padding: 17px 24px;
  border-left-color: #eb5569;
}
.cov-img__2 {
  margin-right: 13px;
  border-radius: 50%;
}
.cov-info__stat-title {
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.cov-info__stat-title--red {
  color: #c90000;
}
.cov-info__stat-title--green {
  color: #009b2c;
}
.cov-info__stat-value {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}
/* NEWS-GRID STYLES */
.news-grid {
  margin-bottom: 25px;
}
.news-grid__title {
  margin: 0 0 15px 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
}
.news-grid__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -21px;
  list-style-type: none;
}
.news-grid__item {
  position: relative;
  width: 386px;
  flex-grow: 1;
  margin-bottom: 18px;
  margin-left: 21px;
}
.news-grid__item:hover .news-grid__link {
  color: #295091;
}
.news-grid__img-wrapper {
  position: relative;
  z-index: 1;
  height: 190px;
  overflow: hidden;
  margin-bottom: 11px;
  border-radius: 7px;
}
/* IMG hover-da ishlaydi */
.news-grid__img-wrapper::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  content: "";
  transition: opacity 0.35s ease;
}
.news-grid__item:hover .news-grid__img-wrapper::before {
  opacity: 1;
}
.news-grid__img {
  width: 100%;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.5s ease;
}
.news-grid__item:hover .news-grid__img {
  transform: scale(1.05);
}
.news-grid__heading {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}
.news-grid__link {
  display: inline-block;
  text-decoration: none;
  color: #202020;
  transition: color 0.35s all ease;
}
.news-grid__link::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
}
/* NOTIFICATIONS STYLES */
.notifications {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  padding: 25px 35px;
  background-color: rgba(239, 186, 84, 0.18);
}
.fa-bell {
  color: #fe5c28;
}
.notifications__heading {
  margin: 0 auto 0 17px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
}
.notifications__btn {
  margin-left: 5px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: #fe5c28;
  background-image: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.35s ease;
}
.notifications__btn:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}
.notifications__btn:focus {
  box-shadow: 0 0 0 5px rgba(255, 140, 57, 0.5);
}
/* LATEST-POPULAR-NEWS */
.latest-popular-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.news-list {
  width: 794px;
}
.news-list__heading {
  margin: 0 0 13px 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}
.news-list__list {
  padding: 0;
  list-style-type: none;
}
.news-list__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.news-list__item:not(:last-child) {
  margin-bottom: 18px;
}
.news-list__img-wrapper {
  position: relative;
  width: 252px;
  height: 143px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 7px;
}
.news-list__img-wrapper::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  content: "";
  transition: opacity 0.35s ease;
}
.news-list__item:hover .news-list__img-wrapper::before {
  opacity: 1;
}
.news-list__img {
  object-fit: cover;
  transition: transform 0.5s ease;
}
.news-list__item:hover .news-list__img {
  transform: scale(1.05);
}
.news-list__body {
  width: 522px;
}
.news-list__title {
  margin: 0 0 18px 0;
  font-size: 17px;
  line-height: 20px;
}
.news-list__link {
  display: inline-block;
  color: #202020;
  transition: color 0.35s all ease;
}
.news-list__link::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.news-grid__data {
  display: inline-block;
  color: #6b6d97;
}
.news-list__item:hover .news-list__link {
  color: #295091;
}
.news-list__text {
  margin-bottom: 14px;
}
.news-list__date-wrapper {
  color: #7688a4;
}
.news-list__icon {
  margin-right: 3px;
}
.news-list__more-wrapper {
  text-align: center;
}
.button {
  padding: 10px 32px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #295093;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.35s ease all;
}
.button--block {
  display: block;
  width: 100%;
}
.button:hover {
  background-color: #4e92ff;
}
.popular-news-banner {
  width: 386px;
}
/* POPULAR-NEWS LEFT  */
.popular-news {
  margin-bottom: 20px;
  padding: 17px 20px;
  border-radius: 7px;
  background-color: #f6f6f6;
}
.popular-news__heading {
  margin: 0 0 7px;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  color: #202020;
}
.popular-news__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.popular-news__item:not(:last-child) {
  padding-bottom: 14px;
  border-bottom: 5px solid #e4e4e4;
  margin-bottom: 18px;
}
.popular-news__title {
  margin: 0 0 11px;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
}
.popular-news__link {
  display: inline-block;
  color: #202020;
}
.popular-news__link:hover {
  color: #11449d;
}
.popular-news__data {
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}
/* SIDEBAR-BANNER */
.sidebar-banner__link {
  display: block;
  border-radius: 7px;
  overflow: hidden;
}
.sidebar-banner__img {
  width: 386px;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
/* SITE-APP */
.site-app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 20px 65px 50px;
  background: #f6f6f6 url("../Img/main-2.png") no-repeat 10px bottom / 170px;
}
.site-app__heading {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #295093;
}
.site-app__body {
  width: 60%;
  margin-left: 150px;
}
.site-app__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #333;
}
.site-app__links {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
}
.site-app__link {
  margin: 7px;
}
.site-app__img {
  color: #000;
}
/* ARTICLE STULES */
.article {
  width: calc(794 / 1240 * 100%);
  border-bottom: 3px solid #ebebeb;
}
.article__title {
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}
.article__date-wrapper {
  margin-bottom: 13px;
  color: #7688a4;
}
.article__icon {
  margin-right: 3px;
}
.article__data {
  display: block;
  color: #6b6d97;
}
.article__img {
  width: 100%;
  height: 350px;
  margin-bottom: 17px;
}
.article__body {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-family: "Roboto", "Arial", sans-serif;
}
.article__body p:first-child {
  margin-top: 0;
}
.article__tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}
.article__tags-item {
  margin-right: 20px;
}
.article__tags-link {
  color: #222dff;
}
/* MAIN CONTACT-STYLES */
.main-content__page-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}
.form-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
/* CONTACT-FORM  */
.contact-form {
  width: calc(600 / 1240 * 100%);
}
.contact-form__group {
  margin-bottom: 20px;
}
.contact-form__group--small {
  width: 220px;
}
.contact-form__group--captcha {
  position: relative;
}
.contact-form__input,
.contact-form__textarea,
.contact-form__file-input {
  display: block;
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(40, 81, 147, 0.3);
  background-color: rgba(241, 241, 241, 0.3);
  border-radius: 3px;
}
.contact-form__input:focus,
.contact-form__textarea:focus {
  border-color: #285193;
  box-shadow: none;
}
.contact-form__textarea {
  min-height: 307px;
  resize: vertical;
}
.contact-form__captcha-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(120%) translateY(-50%);
}
/* CONTACT-INFO  */
.contact-info {
  width: calc(510 / 1240 * 100%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #bcc3cd;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: -12px 8px 9px rgba(57, 57, 57, 0.25);
}
.contact-info__logo {
  align-self: flex-end;
  margin-bottom: 20px;
}
/* CONTACT-INFO LEFT */
.contact-info__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #888;
}
.contact-info__group:last-child {
  margin-bottom: 0;
}
.contact-info__heading,
.contact-info__email {
  margin: 0;
}
.contact-info__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.contact-info__socials-item {
  margin-left: 17px;
  font-size: 2.7rem;
}
.contact-info__socials-link:hover {
  opacity: 0.8;
}
/* CONTACT-INFO ICONS */
.contact-info__email:hover {
  text-decoration: underline;
  color: #222dff;
}
.fa-instagram-square {
  color: rgb(230, 0, 0);
}
.fa-facebook {
  color: #222dff;
}
.fa-youtube {
  color: rgb(161, 34, 34);
}
.fa-github {
  color: #000;
}
.contact__telegram-sub {
  background-color: #000792;
  color: #fff;
}
.contact__telegram-sub:hover {
  box-shadow: -3px 7px 15px rgba(99, 99, 99, 0.5);
}
.telegram-contact__text {
  margin-left: 11px;
  font-size: 15px;
  font-weight: 300;
}
.contact-app__links {
  margin-right: 30px;
}
.contact-app__icon {
  font-size: 30px;
  margin-left: 20px;
  color: #333;
}
.contact-info__logo {
  width: 163px;
  height: 40px;
}

/* SITE FOOTER STYLES */
.site-footer {
  padding: 18px 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #295093;
  color: #fff;
}
.site-footer *:focus {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
.site-footer__top {
  display: flex;
  align-items: center;
}
.site-footer__logo {
  flex-shrink: 0;
  display: flex;
  margin-right: auto;
  border-radius: 5px;
  background-color: #133c82;
}
.site-footer-logo__img {
  width: 175px;
  height: 17px;
}
.site-footer__sub-text {
  margin: 0;
  margin: 0 25px;
}
.site-footer__telegram-sub {
  flex-shrink: 0;
}
.site-footer__divider {
  height: 3px;
  margin: 18px 0 12px;
  border: none;
  background-color: #133c82;
}
.site-footer__bottom {
  display: flex;
  flex-wrap: wrap;
}
.site-footer__about {
  max-width: 365px;
  margin-right: 110px;
}
.site-footer__heading {
  margin-top: 0;
  font-size: 14px;
  line-height: 17px;
}
.site-footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer__nav-item {
  width: 50%;
  padding-right: 10px;
  margin-bottom: 10px;
}
.site-footer__nav-link {
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-footer__nav-link:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 1240px) {
  .news-list {
    width: calc(794 / 1240 * 100%);
  }
  .news-list__item {
    align-items: stretch;
  }
  .news-list__img-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(252 / 794 * 100%);
    margin-right: auto;
  }
  .news-list__img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .news-list__body {
    width: calc(522 / 794 * 100%);
  }
  .popular-news-banner {
    width: calc(386 / 1240 * 100%);
  }
}

@media (max-width: 1150px) {
  .cov-info__heading {
    margin-right: 40px;
  }
  .site-app {
    flex-wrap: wrap;
    padding: 35px 20px 35px 50px;
  }
  .site-app__body {
    width: 100%;
  }
  .site-app__links {
    align-items: center;
  }
}

@media (max-width: 1070px) {
  .site-header {
    padding-top: 0px;
  }
  .exchange-rates {
    order: -1;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
  .cov-info__stat {
    padding: 0 15px;
  }
}

@media (max-width: 1060px) {
  .site-footer__about,
  .site-footer__nav {
    max-width: 100%;
    width: 50%;
    padding-right: 30px;
    margin-right: 0;
  }
  .cov-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cov-info__heading {
    width: auto;
    margin-right: 0;
  }
  .cov-info__stats-list {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .news-list,
  .popular-news-banner {
    width: 100%;
  }
  .sidebar-banner__img {
    width: 100%;
  }
  .article {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .contact-info {
    width: 100%;
    box-shadow: none;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 60%;
  }
  .exchange-rates {
    display: none;
  }
  .logo,
  .site-header__actions {
    margin-top: 15px;
  }
  .site-header__top {
    margin-bottom: 20px;
  }
  .site-footer__about,
  .site-footer__nav {
    width: 100%;
  }
  .notifications {
    padding: 20px;
  }
  .notifications__heading,
  .notifications__btn {
    font-size: 15px;
    line-height: 18px;
  }
  .notifications__btn {
    padding: 6px 10px;
  }
  .site-footer__about {
    order: 1;
  }
  .site-footer__nav {
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  .page__body {
    margin-top: 82px;
  }
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
  }
  .site-header__toggler {
    position: relative;
    z-index: 20;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    background-color: #fff;
  }
  .site-header__telegram-sub,
  .language-toggler,
  .search-button {
    display: none;
  }
  .sitenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    width: 55%;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(120%);
    animation: sitenav-slide-out 0.5s ease 1 forwards;
  }
  .sitenav--open {
    display: block;
    animation: sitenav-slide-in 0.5s ease 1 forwards;
  }
  .sitenav__list {
    flex-direction: column;
    align-items: flex-end;
    padding: 82px 20px 20px 20px;
  }
  .sitenav__item {
    width: 100%;
    margin: 0 5px;
  }
  .sitenav__item:not(:last-child) {
    border-bottom: 1px solid #515151;
  }
  .sitenav__link {
    padding: 10px 20px;
    text-align: right;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .sitenav__link:active {
    background-color: #295091;
    color: #fff;
  }
  .top-banner {
    display: none;
  }
  .article__title {
    margin-top: 20px;
  }
  .main-content__page-title {
    margin-top: 30px;
  }
  .site-footer__top {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 35px;
  }
  .site-footer__sub-text {
    order: 1;
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    text-align: right;
  }
}

@media (max-width: 700px) {
  .site-app__links {
    margin-left: 100px;
  }
  .site-app__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .site-app__text {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (max-width: 650px) {
  .cov-info__stats-list {
    flex-direction: column;
    align-items: stretch;
  }
  .cov-info {
    padding: 25px;
  }
  .cov-info__stat {
    padding: 15px;
    border-left: none;
  }
  .cov-info__stat:not(:last-child) {
    border-bottom: 2px solid #f4ccd1;
  }
}

@media (max-width: 600px) {
  .notifications {
    flex-wrap: wrap;
  }
  .fa-bell {
    display: none;
  }
  .notifications__heading {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
  }
  .notifications__btn {
    width: 100%;
    text-align: center;
  }
  .site-app {
    padding: 20px;
    background-image: none;
  }
  .site-app__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
  }
  .site-app__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
  }
}

@media (max-width: 550px) {
  .news-list {
    margin-bottom: 35px;
  }
  .news-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .news-list__img-wrapper,
  .news-list__body {
    width: 100%;
  }
  .news-list__img-wrapper {
    margin-bottom: 10px;
  }
  .news-list__img {
    height: auto;
  }
  .news-list__text {
    margin: 7px 0;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 1.5rem;
    padding: 6px 7px;
  }
  .sitenav {
    width: 47%;
  }
  .cov-img__1 {
    margin-right: 0;
  }
  .cov-info__heading {
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  .site-app__links {
    font-size: 1rem;
  }
  .site-footer__sub-text {
    text-align: center;
  }
  .site-footer__nav-item {
    width: 100%;
  }
}

@media (max-width: 437px) {
  .article__title {
    margin-top: 55px;
  }
  .main-content__page-title {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .notifications {
    padding: 17px;
  }
  .notifications__heading,
  .notifications__btn {
    font-size: 13px;
    line-height: 15px;
  }
  .notifications__btn {
    padding: 5px 9px;
  }
  .site-app__heading,
  .site-app__text {
    text-align: center;
  }
  .main-content__page-title {
    margin-top: 55px;
  }
}

/*  KEYFRAES ANIM */
@keyframes sitenav-slide-out {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes sitenav-slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
